In [ ]:
# ONS (Census 2011) statistics for Lewisham.
# Fetches Nomis data releases and prepares them for use in Lewisham ward profiles.
#
# This requires the OA->LSOA lookup table produced by "lbl_boundaries_oa.ipynb"
# as well as the OA->WD22 lookup table produced by "lbl_boundaries_2022_wards.ipynb"

In [1]:
import pandas as pd

from google.colab import drive
import google.colab.files as files

import IPython

Tools
==
Helpers to reformat & aggregate the Nomis source data.

In [2]:
# Extract the subset we need.
def filter_nomis_data(d, date_values, geography_values):
  return d[d.date.isin(date_values) & 
           d.geography.isin(geography_values)]

# Reformat Nomis data into a lookup table format:
# clear labelling of the index (geography) column, 
# remove superfluous columns.
def format_nomis_data(d, geo_colname):
  return d.\
           rename(columns={'geography code': geo_colname}).\
           drop(columns=['date', 'geography'])

# Convenience function to call the above.
def nomis_to_oa(d, years, oa_list):
  return format_nomis_data(filter_nomis_data(d, years, oa_list), geo_colname='OA11CD')

In [3]:
# Aggregate OA-level data to LSOAs, Wards, etc. (Calculates the sum.)
def aggregate_oa_groups(oa_data, oa_group_table, oa_col, group_col):
  return pd.merge(oa_group_table, oa_data, on=oa_col, how='right').\
              drop(columns=[oa_col]).\
              groupby(group_col).sum()

Data
==
GDrive mount
--

In [4]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [5]:
# Used as root folder.
project_dir = '/content/gdrive/MyDrive/WardProfiles'
oa_lookups_dir = f"{project_dir}/lookups/oa"
ward_lookups_dir = f"{project_dir}/lookups/2022_wards"

# For exports
output_dir = f"{project_dir}/employment"

In [ ]:
!mkdir -p '{output_dir}'

Downloads
--

In [ ]:
# Occupation, OAs in London 2011
# Source: 
# https://www.nomisweb.co.uk/census/2011/ks608uk
!wget 'https://www.nomisweb.co.uk/api/v01/dataset/nm_1518_1.bulk.csv?time=latest&measures=20100&geography=2013265927TYPE299' \
  -O "{output_dir}/census11_occupation_oa11_london.csv"

--2021-11-02 13:38:06--  https://www.nomisweb.co.uk/api/v01/dataset/nm_1518_1.bulk.csv?time=latest&measures=20100&geography=2013265927TYPE299
Resolving www.nomisweb.co.uk (www.nomisweb.co.uk)... 129.234.253.212
Connecting to www.nomisweb.co.uk (www.nomisweb.co.uk)|129.234.253.212|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1488142 (1.4M) [text/csv]
Saving to: ‘/content/gdrive/MyDrive/WardProfiles/employment/census11_occupation_oa11_london.csv’

/content/gdrive/MyD 100%[===================>]   1.42M   614KB/s    in 2.4s

2021-11-02 13:38:20 (614 KB/s) - ‘/content/gdrive/MyDrive/WardProfiles/employment/census11_occupation_oa11_london.csv’ saved [1488142/1488142]

In [ ]:
# Occupation (Minor Groups), OAs in London 2011
# Source: 
# https://www.nomisweb.co.uk/census/2011/qs606ew
!wget 'https://www.nomisweb.co.uk/api/v01/dataset/nm_561_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2013265927TYPE299' \
  -O "{output_dir}/census11_occupation_minor_groups_oa11_london.csv"

--2021-11-02 13:38:24--  https://www.nomisweb.co.uk/api/v01/dataset/nm_561_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2013265927TYPE299
Resolving www.nomisweb.co.uk (www.nomisweb.co.uk)... 129.234.253.212
Connecting to www.nomisweb.co.uk (www.nomisweb.co.uk)|129.234.253.212|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7661832 (7.3M) [text/csv]
Saving to: ‘/content/gdrive/MyDrive/WardProfiles/employment/census11_occupation_minor_groups_oa11_london.csv’

/content/gdrive/MyD 100%[===================>]   7.31M   663KB/s    in 11s

2021-11-02 13:39:03 (651 KB/s) - ‘/content/gdrive/MyDrive/WardProfiles/employment/census11_occupation_minor_groups_oa11_london.csv’ saved [7661832/7661832]

In [ ]:
# Hours Worked, OAs in London 2011
# Source: 
# https://www.nomisweb.co.uk/census/2011/QS604EW
!wget 'https://www.nomisweb.co.uk/api/v01/dataset/nm_559_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2013265927TYPE299' \
  -O "{output_dir}/census11_hours_worked_oa11_london.csv"

--2021-11-02 13:39:05--  https://www.nomisweb.co.uk/api/v01/dataset/nm_559_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2013265927TYPE299
Resolving www.nomisweb.co.uk (www.nomisweb.co.uk)... 129.234.253.212
Connecting to www.nomisweb.co.uk (www.nomisweb.co.uk)|129.234.253.212|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1543556 (1.5M) [text/csv]
Saving to: ‘/content/gdrive/MyDrive/WardProfiles/employment/census11_hours_worked_oa11_london.csv’

/content/gdrive/MyD 100%[===================>]   1.47M   635KB/s    in 2.4s

2021-11-02 13:39:19 (635 KB/s) - ‘/content/gdrive/MyDrive/WardProfiles/employment/census11_hours_worked_oa11_london.csv’ saved [1543556/1543556]

In [ ]:
# Economic Activity, OAs in London 2011
# Source: 
# https://www.nomisweb.co.uk/census/2011/QS601EW
!wget 'https://www.nomisweb.co.uk/api/v01/dataset/nm_556_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2013265927TYPE299' \
  -O "{output_dir}/census11_economic_activity_oa11_london.csv"

--2021-11-02 13:39:20--  https://www.nomisweb.co.uk/api/v01/dataset/nm_556_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2013265927TYPE299
Resolving www.nomisweb.co.uk (www.nomisweb.co.uk)... 129.234.253.212
Connecting to www.nomisweb.co.uk (www.nomisweb.co.uk)|129.234.253.212|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2094451 (2.0M) [text/csv]
Saving to: ‘/content/gdrive/MyDrive/WardProfiles/employment/census11_economic_activity_oa11_london.csv’

/content/gdrive/MyD 100%[===================>]   2.00M   630KB/s    in 3.2s

2021-11-02 13:39:36 (630 KB/s) - ‘/content/gdrive/MyDrive/WardProfiles/employment/census11_economic_activity_oa11_london.csv’ saved [2094451/2094451]

In [ ]:
# For certain variables: get reference data for other geographies.
#
# Nomis geography codes are derived from their GEOGRAPHY and GEOGRAPHY_TYPECODE 
# fields, both numeric. For our purposes they are as follows:
# England: 2092957699TYPE499
# London: 2013265927TYPE480
# Lewisham: 1946157254TYPE464

# And optionally:
# United Kingdom: 2092957697TYPE499 -- this also returns nation-level records
# Great Britain: 2092957698TYPE499
# England and Wales: 2092957703TYPE499

# NOTE that not all variables are available at all levels of aggregation.

In [ ]:
# Occupation, misc reference regions, 2011
# Source: 
# https://www.nomisweb.co.uk/census/2011/ks608uk
!wget 'https://www.nomisweb.co.uk/api/v01/dataset/nm_1518_1.bulk.csv?time=latest&measures=20100&geography=2092957697TYPE499,2013265927TYPE480,1946157254TYPE464' \
  -O "{output_dir}/census11_occupation_references.csv"

--2021-11-16 12:27:04--  https://www.nomisweb.co.uk/api/v01/dataset/nm_1518_1.bulk.csv?time=latest&measures=20100&geography=2092957697TYPE499,2013265927TYPE480,1946157254TYPE464
Resolving www.nomisweb.co.uk (www.nomisweb.co.uk)... 129.234.253.212
Connecting to www.nomisweb.co.uk (www.nomisweb.co.uk)|129.234.253.212|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1683 (1.6K) [text/csv]
Saving to: ‘/content/gdrive/MyDrive/WardProfiles/employment/census11_occupation_references.csv’

/content/gdrive/MyD 100%[===================>]   1.64K  --.-KB/s    in 0s

2021-11-16 12:27:05 (185 MB/s) - ‘/content/gdrive/MyDrive/WardProfiles/employment/census11_occupation_references.csv’ saved [1683/1683]

In [ ]:
# Hours Worked, misc reference regions, 2011
# Source: 
# https://www.nomisweb.co.uk/census/2011/QS604EW
!wget 'https://www.nomisweb.co.uk/api/v01/dataset/nm_559_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2092957699TYPE499,2013265927TYPE480,1946157254TYPE464' \
  -O "{output_dir}/census11_hours_worked_references.csv"

--2021-11-16 12:25:47--  https://www.nomisweb.co.uk/api/v01/dataset/nm_559_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2092957699TYPE499,2013265927TYPE480,1946157254TYPE464
Resolving www.nomisweb.co.uk (www.nomisweb.co.uk)... 129.234.253.212
Connecting to www.nomisweb.co.uk (www.nomisweb.co.uk)|129.234.253.212|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 746 [text/csv]
Saving to: ‘/content/gdrive/MyDrive/WardProfiles/employment/census11_hours_worked_references.csv’

/content/gdrive/MyD 100%[===================>]     746  --.-KB/s    in 0s

2021-11-16 12:25:49 (89.0 MB/s) - ‘/content/gdrive/MyDrive/WardProfiles/employment/census11_hours_worked_references.csv’ saved [746/746]

In [ ]:
# Economic Activity, misc reference regions, 2011
# Source: 
# https://www.nomisweb.co.uk/census/2011/QS601EW
!wget 'https://www.nomisweb.co.uk/api/v01/dataset/nm_556_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2092957699TYPE499,2013265927TYPE480,1946157254TYPE464' \
  -O "{output_dir}/census11_economic_activity_references.csv"

--2021-11-16 12:26:57--  https://www.nomisweb.co.uk/api/v01/dataset/nm_556_1.bulk.csv?time=latest&measures=20100&rural_urban=total&geography=2092957699TYPE499,2013265927TYPE480,1946157254TYPE464
Resolving www.nomisweb.co.uk (www.nomisweb.co.uk)... 129.234.253.212
Connecting to www.nomisweb.co.uk (www.nomisweb.co.uk)|129.234.253.212|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1820 (1.8K) [text/csv]
Saving to: ‘/content/gdrive/MyDrive/WardProfiles/employment/census11_economic_activity_references.csv’

/content/gdrive/MyD 100%[===================>]   1.78K  --.-KB/s    in 0s

2021-11-16 12:26:59 (205 MB/s) - ‘/content/gdrive/MyDrive/WardProfiles/employment/census11_economic_activity_references.csv’ saved [1820/1820]

Lookups
--
Used to match up OAs with their LSOAs, and 2022 electoral wards

In [6]:
# All OAs and their LSOAs in Lewisham
oa_lsoa_join = pd.read_csv(f"{oa_lookups_dir}/lbl_oa11_lsoa11_msoa11_lad20_rgn20_202012.csv")
oa_lsoa_join = oa_lsoa_join[['OA11CD', 'LSOA11CD']]
oa_lsoa_join.head()

      OA11CD   LSOA11CD
0  E00016277  E01003220
1  E00016278  E01003220
2  E00016285  E01003220
3  E00016257  E01003221
4  E00016263  E01003221

In [7]:
# All OAs and their 2022 wards in Lewisham
oa_wd22_join = pd.read_csv(f"{ward_lookups_dir}/lbl_oa11_wd22_proposed.csv")
oa_wd22_join = oa_wd22_join[['OA11CD', 'WD22CD_proposed']]
oa_wd22_join.head()

      OA11CD WD22CD_proposed
0  E00016403       E05013721
1  E00016442       E05013721
2  E00016407       E05013721
3  E00016404       E05013721
4  E00016402       E05013721

Process & export
==
Lewisham
--

In [8]:
# For filtering of source data
lbl_oa_list = oa_lsoa_join.OA11CD.unique() # All OAs in Lewisham
years = [2011] # Just a precaution, in case any of the downloads include multiple periods

for datname in ['occupation', 'occupation_minor_groups', 
                  'hours_worked', 'economic_activity']:
  IPython.display.display(f"=== {datname} ===")
  # Load the Nomis data
  d = pd.read_csv(f"{output_dir}/census11_{datname}_oa11_london.csv")

  # Simplify the column names
  d.columns = d.columns.str.replace(
      # Remove the redundant title prefix and qualifier suffix
      r'^.*?: (.*?); measures: Value', 
      r'\1')
  d = d.rename(columns={
      'All categories: Occupation': 'Total',
      'All categories: Hours worked': 'Total',
      'All categories: Economic activity': 'Total',
  })

  # Transform to OA index data
  lbl_oa = nomis_to_oa(d, years, lbl_oa_list)
  lbl_oa.to_csv(f"{output_dir}/lbl_{datname}_oa11.csv", index=False)

  # Aggregate to LSOA level
  lbl_lsoa = aggregate_oa_groups(lbl_oa, oa_lsoa_join, oa_col='OA11CD', group_col='LSOA11CD')
  lbl_lsoa.to_csv(f"{output_dir}/lbl_{datname}_lsoa11.csv", index=True)
  IPython.display.display(lbl_lsoa.head())

  # Aggregate to WD22 level
  lbl_wd22 = aggregate_oa_groups(lbl_oa, oa_wd22_join, oa_col='OA11CD', group_col='WD22CD_proposed')
  lbl_wd22.to_csv(f"{output_dir}/lbl_{datname}_wd22.csv", index=True)
  IPython.display.display(lbl_wd22.head())

'=== occupation ==='

           Total  ...  9. Elementary occupations
LSOA11CD          ...
E01003189    613  ...                         83
E01003190    791  ...                         94
E01003191    662  ...                         95
E01003192    656  ...                         97
E01003193    706  ...                         77

[5 rows x 10 columns]

                 Total  ...  9. Elementary occupations
WD22CD_proposed         ...
E05013714         4346  ...                        612
E05013715         8208  ...                        558
E05013716         9479  ...                        899
E05013717         7504  ...                        712
E05013718         8013  ...                        590

[5 rows x 10 columns]

'=== occupation_minor_groups ==='

           Total  ...  927. Other Elementary Services Occupations
LSOA11CD          ...
E01003189    613  ...                                          22
E01003190    791  ...                                          26
E01003191    662  ...                                          20
E01003192    656  ...                                          20
E01003193    706  ...                                          19

[5 rows x 125 columns]

                 Total  ...  927. Other Elementary Services Occupations
WD22CD_proposed         ...
E05013714         4346  ...                                         140
E05013715         8208  ...                                         209
E05013716         9479  ...                                         396
E05013717         7504  ...                                         202
E05013718         8013  ...                                         215

[5 rows x 125 columns]

'=== hours_worked ==='

           Total  ...  Full-time: 49 or more hours worked
LSOA11CD          ...
E01003189    613  ...                                  49
E01003190    791  ...                                  75
E01003191    662  ...                                  51
E01003192    656  ...                                  57
E01003193    706  ...                                  91

[5 rows x 7 columns]

                 Total  ...  Full-time: 49 or more hours worked
WD22CD_proposed         ...
E05013714         4346  ...                                 395
E05013715         8208  ...                                1646
E05013716         9479  ...                                1319
E05013717         7504  ...                                 868
E05013718         8013  ...                                1083

[5 rows x 7 columns]

'=== economic_activity ==='

           Total  ...  Economically inactive: Other
LSOA11CD          ...
E01003189   1101  ...                            53
E01003190   1284  ...                            48
E01003191   1044  ...                            29
E01003192   1164  ...                            52
E01003193   1138  ...                            28

[5 rows x 16 columns]

                 Total  ...  Economically inactive: Other
WD22CD_proposed         ...
E05013714         7325  ...                           269
E05013715        11806  ...                           312
E05013716        13672  ...                           315
E05013717        11622  ...                           355
E05013718        11400  ...                           329

[5 rows x 16 columns]

Reference geographies
--

In [11]:
# For filtering of source data
reference_names = ['United Kingdom', 'Great Britain', 'England and Wales',
                   'England', 'London', 'Lewisham']
years = [2011] # Just a precaution, in case any of the downloads include multiple periods

for datname in ['occupation', #'occupation_minor_groups', 
                  'hours_worked', 'economic_activity']:
  IPython.display.display(f"=== {datname} ===")
  # Load the Nomis data
  d = pd.read_csv(f"{output_dir}/census11_{datname}_references.csv")

  # Simplify the column names
  d.columns = d.columns.str.replace(
      # Remove the redundant title prefix and qualifier suffix
      r'^.*?: (.*?); measures: Value', 
      r'\1')
  d = d.rename(columns={
      'All categories: Occupation': 'Total',
      'All categories: Hours worked': 'Total',
      'All categories: Economic activity': 'Total',
  })

  # Filter & transform to index data
  ref = filter_nomis_data(d, years, reference_names).drop(columns=['date'])
  if 'Rural Urban' in ref.columns:
    ref = ref.drop(columns='Rural Urban') # unused
  ref = ref.rename(columns={'geography': 'Name', 'geography code': 'Code'})
  ref.to_csv(f"{output_dir}/references_{datname}.csv", index=False)
  IPython.display.display(ref.head())

'=== occupation ==='

                Name  ... 9. Elementary occupations
0     United Kingdom  ...                   3333107
1      Great Britain  ...                   3247232
2            England  ...                   2792318
6  England and Wales  ...                   2954965
7             London  ...                    384019

[5 rows x 12 columns]

'=== hours_worked ==='

       Name  ... Full-time: 49 or more hours worked
0   England  ...                            3352925
1    London  ...                             635128
2  Lewisham  ...                              17599

[3 rows x 9 columns]

'=== economic_activity ==='

       Name  ... Economically inactive: Other
0   England  ...                       852450
1    London  ...                       195793
2  Lewisham  ...                         6398

[3 rows x 18 columns]

Derivatives
==

Lewisham occupation groups
--

In [12]:
# Lewisham
for geog, geog_colname in zip(['oa11', 'wd22'], ['OA11CD', 'WD22CD_proposed']):
  IPython.display.display(f"=== {geog} ===")

  og = pd.read_csv(f"{output_dir}/lbl_occupation_{geog}.csv")

  d = og[[geog_colname]].copy()
  var_colnames = og.drop(columns=[geog_colname, 'Total']).columns
  for colname in var_colnames: 
    d[colname] = og[colname] * 100. / og.Total
  
  d.to_csv(f"{output_dir}/lbl_occupation_share_{geog}.csv", index=False)
  IPython.display.display(d.head())

'=== oa11 ==='

      OA11CD  ...  9. Elementary occupations
0  E00016403  ...                  13.103448
1  E00016437  ...                  21.739130
2  E00016439  ...                  19.108280
3  E00016442  ...                  22.962963
4  E00016399  ...                  22.151899

[5 rows x 10 columns]

'=== wd22 ==='

  WD22CD_proposed  ...  9. Elementary occupations
0       E05013714  ...                  14.081914
1       E05013715  ...                   6.798246
2       E05013716  ...                   9.484123
3       E05013717  ...                   9.488273
4       E05013718  ...                   7.363035

[5 rows x 10 columns]


Lewisham economic activity
--

In [13]:
# Segmentation loosely based on Observatory categories
def economic_activity_groups(ea, fixed_columns):
  d = ea[fixed_columns].copy()
  d['Full-time'] = ea['Economically active: Employee: Full-time'] * 100. / ea.Total
  d['Part-time'] = ea['Economically active: Employee: Part-time'] * 100. / ea.Total
  d['Self-employed'] = ea[ea.columns[ea.columns.str.contains('Economically active: Self-employed')]].sum(axis=1) * 100 / ea.Total
  d['Working student'] = ea['Economically active: Full-time student'] * 100 / ea.Total
  d['Unemployed'] = ea['Economically active: Unemployed'] * 100 / ea.Total

  # # Option A -- replicating the observatory
  # d['Retired'] = ea['Economically inactive: Retired'] * 100 / ea.Total
  # # Lots of cases not included in the Observatory!
  # d['Other inactive (students, carers, sick or disabled, others)'] = ea[ea.columns[ea.columns.str.contains('Economically inactive:') & 
  #                                                                                  (ea.columns.str.contains('Retired')==False)]].sum(axis=1) * 100 / total

  # Option B -- only one 'inactive' catch-all group
  d['Inactive'] = ea['Economically inactive: Total'] * 100 / ea.Total

  return d#.round(1)

In [14]:
# Lewisham
for geog, geog_colname in zip(['oa11', 'wd22'], ['OA11CD', 'WD22CD_proposed']):
  IPython.display.display(f"=== {geog} ===")

  ea = pd.read_csv(f"{output_dir}/lbl_economic_activity_{geog}.csv")
  d = economic_activity_groups(ea, [geog_colname])
  d.to_csv(f"{output_dir}/lbl_economic_activity_groups_{geog}.csv", index=False)
  IPython.display.display(d.head())

'=== oa11 ==='

      OA11CD  Full-time  Part-time  ...  Working student  Unemployed   Inactive
0  E00016403  35.622318  17.167382  ...         2.575107   11.587983  24.463519
1  E00016437  28.279883  13.702624  ...         6.413994    7.288630  38.483965
2  E00016439  36.559140  11.827957  ...         6.093190    9.318996  31.541219
3  E00016442  30.909091  18.181818  ...         5.454545   13.181818  23.636364
4  E00016399  27.483444  15.562914  ...         9.271523    8.278146  35.430464

[5 rows x 7 columns]

'=== wd22 ==='

  WD22CD_proposed  Full-time  Part-time  ...  Working student  Unemployed   Inactive
0       E05013714  34.375427  15.071672  ...         3.877133    7.836177  31.563140
1       E05013715  45.510757   9.537523  ...         3.320346    5.471794  24.216500
2       E05013716  42.598011  10.115565  ...         7.467817    5.171153  23.581042
3       E05013717  38.143177  12.373086  ...         4.517295    5.937016  28.170711
4       E05013718  43.728070  11.482456  ...         3.228070    5.342105  23.526316

[5 rows x 7 columns]

Reference geographies economic activity
--

In [15]:
# Reference geographies
ea = pd.read_csv(f"{output_dir}/references_economic_activity.csv")
d = economic_activity_groups(ea, ['Name', 'Code'])
d.to_csv(f"{output_dir}/references_economic_activity_groups.csv", index=False)
IPython.display.display(d.head())

       Name       Code  Full-time  ...  Working student  Unemployed   Inactive
0   England  E92000001  38.621485  ...         3.438209    4.379596  30.087003
1    London  E12000007  39.849680  ...         4.062358    5.206390  28.332981
2  Lewisham  E09000023  40.132845  ...         4.902669    6.194274  26.405178

[3 rows x 8 columns]

Quick checks
--

In [ ]:
# Let's make sure we've successfully reproduced the Observatory categories.

# Among the unchanged wards: Sydenham, Forest Hill, Crofton Park. See https://consultation.lgbce.org.uk/node/17020
# The Observatory has these numbers for Crofton Park (E05013718):
# Full-time: 43.7
# Part-time: 11.5
# Full-time student: 3.2
# Self-employed: 12.7
# Unemployed: 5.3
# Retired: 7.3

In [16]:
d = pd.read_csv(f"{output_dir}/lbl_economic_activity_groups_wd22.csv")
d[d.WD22CD_proposed=='E05013718'].transpose()

                         4
WD22CD_proposed  E05013718
Full-time          43.7281
Part-time          11.4825
Self-employed       12.693
Working student    3.22807
Unemployed         5.34211
Inactive           23.5263

In [17]:
# These should all add up to 100
d.sum(axis=1)

0     100.0
1     100.0
2     100.0
3     100.0
4     100.0
5     100.0
6     100.0
7     100.0
8     100.0
9     100.0
10    100.0
11    100.0
12    100.0
13    100.0
14    100.0
15    100.0
16    100.0
17    100.0
18    100.0
dtype: float64

In [ ]:
# # For reference: all new ward codes
# pd.read_csv(f"{ward_lookups_dir}/lbl_oa11_wd22_proposed.csv")[['WD22CD_proposed', 'WD22NM_proposed']].drop_duplicates().sort_values(by='WD22NM_proposed')

Results
--

In [18]:
!ls -lh '{output_dir}'

total 13M
-rw------- 1 root root 2.0M Nov  2 13:39 census11_economic_activity_oa11_london.csv
-rw------- 1 root root 1.8K Nov 16 12:27 census11_economic_activity_references.csv
-rw------- 1 root root 1.5M Nov  2 13:39 census11_hours_worked_oa11_london.csv
-rw------- 1 root root  746 Nov 16 12:25 census11_hours_worked_references.csv
-rw------- 1 root root 7.4M Nov  2 13:38 census11_occupation_minor_groups_oa11_london.csv
-rw------- 1 root root 1.5M Nov  2 13:38 census11_occupation_oa11_london.csv
-rw------- 1 root root 1.7K Nov 16 12:27 census11_occupation_references.csv
-rw------- 1 root root 102K Dec  7 11:47 lbl_economic_activity_groups_oa11.csv
-rw------- 1 root root 2.4K Dec  7 11:47 lbl_economic_activity_groups_wd22.csv
-rw------- 1 root root  12K Dec  7 11:43 lbl_economic_activity_lsoa11.csv
-rw------- 1 root root  54K Dec  7 11:43 lbl_economic_activity_oa11.csv
-rw------- 1 root root 2.2K Dec  7 11:43 lbl_economic_activity_wd22.csv
-rw------- 1 root root 6.3K Dec  7 11:43 lbl_hours_worked_lsoa11.csv
-rw------- 1 root root  34K Dec  7 11:43 lbl_hours_worked_oa11.csv
-rw------- 1 root root 1014 Dec  7 11:43 lbl_hours_worked_wd22.csv
-rw------- 1 root root 7.6K Dec  7 11:43 lbl_occupation_lsoa11.csv
-rw------- 1 root root  59K Dec  7 11:43 lbl_occupation_minor_groups_lsoa11.csv
-rw------- 1 root root 250K Dec  7 11:43 lbl_occupation_minor_groups_oa11.csv
-rw------- 1 root root  14K Dec  7 11:43 lbl_occupation_minor_groups_wd22.csv
-rw------- 1 root root  34K Dec  7 11:43 lbl_occupation_oa11.csv
-rw------- 1 root root 147K Dec  7 11:46 lbl_occupation_share_oa11.csv
-rw------- 1 root root 3.7K Dec  7 11:46 lbl_occupation_share_wd22.csv
-rw------- 1 root root 1.4K Dec  7 11:43 lbl_occupation_wd22.csv
drwx------ 2 root root 4.0K Nov  5 13:48 maps
-rw------- 1 root root 1.1K Dec  7 11:46 references_economic_activity.csv
-rw------- 1 root root  467 Dec  7 11:47 references_economic_activity_groups.csv
-rw------- 1 root root  395 Dec  7 11:46 references_hours_worked.csv
-rw------- 1 root root  963 Dec  7 11:46 references_occupation.csv